.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffe082; /* Cor de fundo amarelo claro */
  background-image: url('https://www.pngmart.com/files/2/Pikachu-PNG-Photo.png'); /* Caminho para sua imagem do Pikachu */
  background-size: cover;
  background-position: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #ffca28; /* Amarelo */
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #ffa726; /* Laranja ao passar o mouse */
}

.login-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
}
